body {
  width: 1600px; /*tama単o */
  margin: 0px;
  padding: 0px;
} /*tama単o de la pagina */

header {
  height: 41px;
  margin-top: 56px;
  margin-left: 191px;
  display: flex;
  justify-content: space-between; /*reacomoda el contenido */
}

nav {
  width: 545px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
  margin-right: 192px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #1f1534;
}

nav ul li a:hover {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  text-align: left;
}

#logo-T {
  width: 41px; /*tama単o de la T */
  height: 41px; /*tama単o de la T */
  background-color: #458ff6; /* color fondo de la T*/
  font-family: "Mulish", sans-serif; /*tipo de letra */
  font-size: 26px; /*  */
  font-weight: 700; /*grosor de la letra (va sin el px de pixeles)*/
  line-height: 32.63px; /* */
  text-align: center; /* */
  align-items: center;
  align-content: center;
  color: #ffff; /* color de la letra */
  display: inline-block; /* centrar la T */
  border-radius: 50%;
}

#logo-Trafalgar {
  width: 107px;
  height: 30px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.12px;
  text-align: left;
  color: #233348;
}

#seccion-main {
  display: flex;
}

#articulo-virtual {
  width: 445px;
  height: 338px;
  margin-top: 186px;
  margin-left: 190px;
  gap: 0px;
  border-radius: 55px 0px 0px 0px;
  opacity: 0px;
  margin-right: 109px;
}

#articulo-virtual h1 {
  width: 427px;
  height: 112px;
  gap: 0px;
  opacity: 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  color: #000000;
}

#articulo-virtual p {
  width: 445px;
  height: 96px;
  gap: 0px;
  opacity: 0px;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: #7d7987;
}

#articulo-virtual button {
  width: 200px;
  height: 56px;
  gap: 0px;
  border-radius: 55px;
  opacity: 0px;
  background-color: #458ff6;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#imagen-virtual {

}

.font-Mulish {
  font-family: "Mulish", sans-serif;
}

.contenedor-main {
  width: 50%;
  height: 598px;
  gap: 0px;
  opacity: 0px;
}
